### Challenge Part 3 Instructions
### Create a Travel Itinerary for four cities with a Corresponding Map

In [1]:
import pandas as pd
import requests
import gmaps

from config_challenge import g_key

In [2]:
gmaps.__version__

'0.9.0'

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,mayo,US,95.00,clear sky,38.89,-76.51,Resorts Resource Group International
1,4,puerto ayora,EC,77.00,broken clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
2,5,rikitea,PF,66.27,overcast clouds,-23.12,-134.97,Pension Maro'i
3,6,mumford,GH,75.58,few clouds,5.26,-0.76,Spanish Villa
4,8,veraval,IN,83.86,overcast clouds,20.90,70.37,Lords Inn Somnath

In [5]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [6]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
vacation_start = vacation_df.loc[vacation_df["City"] == "siena"]
vacation_end = vacation_df.loc[vacation_df["City"] == "poitiers"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "lasa"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "avallon"]

In [12]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]

print(start)
print(end)
print(stop1)
print(stop2)

(43.22, 11.4)
(46.58, 0.33)
(46.62, 10.7)
(47.48, 3.9)

In [17]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [20]:
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
151,263,siena,IT,88.0,clear sky,43.22,11.40,More Di Cuna
101,172,poitiers,FR,82.4,scattered clouds,46.58,0.33,ibis Poitiers Centre
84,144,lasa,IT,64.0,broken clouds,46.62,10.70,Pension Feldgärtenhof
15,36,avallon,FR,77.0,scattered clouds,47.48,3.90,Hotel d'Avallon Vauban

In [22]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,263,siena,IT,88.0,clear sky,43.22,11.40,More Di Cuna
1,172,poitiers,FR,82.4,scattered clouds,46.58,0.33,ibis Poitiers Centre
2,144,lasa,IT,64.0,broken clouds,46.62,10.70,Pension Feldgärtenhof
3,36,avallon,FR,77.0,scattered clouds,47.48,3.90,Hotel d'Avallon Vauban

In [24]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))